#ob2ob_media .item_description
{
	min-width: 300px;
}

#ob2ob_media_items_container
{
  max-width: 500px;
  margin: 15px 0;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
}

#ob2ob_media_items
{
  min-height: 100px;
}

#ob2ob_media_items_help td
{
  text-align: center;
}

#ob2ob_media_items .item_remove a
{
  padding: 10px;
}
